parameters:
    level: 5
    paths:
        - src
        - config
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    type_coverage:
        return_type: 90
        param_type: 90
        property_type: 90

