includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/pestphp/pest/extension.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
